{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Bid Details</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-xs table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th class="float-right mr-1" scope="col">Offer</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.product.image %}
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p></p>
                                        <p class="my-0"> by {{ item.product.category.friendly_name }}</p>
                                    </td>
                                    <td class="py-3">
                                    </td>
                                    <td class="py-3 w-25">
                                        <a class="remove-item text-danger" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small><strong>Click Here to Remove</strong></small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 float-right">EUR{{ item.product.offer}}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h4 class="mt-4"><strong>Total:EUR{{ total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'artists' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Browsing</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Make Bid</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bid is cleared</p>
                    <a href="{% url 'artists' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Browsing</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}

from django.test import TestCase
from products.models import Product
from django.contrib.auth.models import User
from django.urls import reverse


class TestCartViews(TestCase):


    def test_get_add_product_to_cart(self):
        User.objects.create_user(
            email='testUser@example.com',
            username='testUser',
            password='passw0rd')
        self.client.login(username='testUser', password='passw0rd')
        product = Product.objects.create(name='Test Product',
                                         description='Some content',
                                         offer='99.00')

        self.assertEqual(Product.objects.count(), 1)
        response = self.client.get("/products/1/".format(Product.pk))

        session = self.client.session
        session['bag'] = 'bag_session'

        response = self.client.post("/bag/",
                                    kwargs={'product_id': product.id})
        page = self.client.get("/bag/")
        self.assertEqual(page.status_code, 200)

    def test_get_delete_item_from_cart(self):
        User.objects.create_user(
            email='testUser@example.com',
            username='testUser',
            password='passw0rd')
        self.client.login(username='testUser', password='passw0rd')
        product = Product.objects.create(name='Test Product',
                                         description='Some content',
                                         offer='99.00')

        self.assertEqual(Product.objects.count(), 1)
        response = self.client.get("/products/1/".format(Product.pk))
        page = self.client.get("/bag/")

        session = self.client.session
        session["bag"] = "bag_session"

        quantity = 1
        response = self.client.post("/bag/",
                                    kwargs={"product_id": product.id},
                                    data={"quantity": quantity},
                                    follow=True)

        page = self.client.get("/bag/")
        self.assertEqual(page.status_code, 200)

        delete_item = self.client.post("/bag/",
                                       kwargs={"product_id": product.id},
                                       data={"quantity": (quantity - 1)},
                                       follow=True)

        page = self.client.get("/bag/")
        self.assertEqual(page.status_code, 200)
        self.assertTemplateUsed(page, "bag/bag.html")
