{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block title %}About | Jellett Gallery{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="logo-font mt-3 mb-3">About</h3>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6 col-md-7 my-auto ml-3 mr-3 exhibitions-images-frame">
            <img src="/media/Jellett-Madonna%20of%20Eire%20%281941%29.jpg" class="img-fluid exhibitions-images">
            
            <p class="text-black exhibition-picture mt-0">Jellett, Madonna of Eire, oil on canvas, (1941)</p>
        </div>
        <div class="col-12 offset-lg-1 col-lg-5 offset-md-1 col-md-4 ml-3 mt-3 exhibitions-details ">
            <div class="mt-3 logo-font text-black">
                <p class="exhibition-title">Jellett Gallery</p>
            </div>
            <div class="mt-3 text-black exhibition-paragraph">
                <p>The year was 1923 and on returning to Dublin Mainie Jellett submitted a cubist and daring work, titled
                "Decoration" to the the annual Society of Dublin Painters' exhibition. It was an explosion of overlapping
                color fields, with a religious icon as centre-piece. It was modern, strident, and loudly cubist. Queue the critical
                firestorm. The art reviewer for The Irish Times was baffled, writing the work was nonsense that: “may, to
                the man who understands the most up-to-date modern art, mean something; but to me they presented an insoluble
                mess.” Prominent art critic George Russell called Jellett “a late victim to Cubism in some sub-section of this
                artistic malaria.” Another critic referred to the piece as 'sub-human art.'</p>

            <div class="mt-3 text-black exhibition-paragraph">
                <p>Of course, she had touched a critical nerve but this piece would go on to hold place of honor at the National Gallery.
                The critical reversal was relatively swift as four yeats later the Irish Times heralded Jellett
                as “the only serious exponent in this country of the ultra-modernist school of painting.” For the next two 
                decades, Jellett created work that would define  art in Ireland. She would be shown in the Irish section
                of the exhibition at the 1928 Olympic Games.</p>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6 col-md-7 my-auto ml-3 mr-3 exhibitions-images-frame">
            <img src="/media/Jellett-Flower%20Forms%20%281930%29.jpg" class="img-fluid exhibitions-images">
            
            <p class="text-black exhibition-picture mt-0">Jellett, Head of a Woman, oil on canvas, (1934)</p>
        </div>
        <div class="col-12 offset-lg-1 col-lg-5 offset-md-1 col-md-4 ml-3 mt-3 exhibitions-details ">
            <div class="mb-3 text-black exhibition-paragraph">
                <p>Jellett co-founded the Irish Exhibition of Living Art, a celebration of unconventional Irish artists. She wrote in
                "An Approach To Paining", about her desire to represent the spirit of her country and its people:</p>

               <div class="mt-3 mb-5 text-black exhibition-paragraph">
                <p> “The idea of an artist being a special person, an exotic flower set apart from other people is one of the errors resulting
                from the industrial revolution, and the fact of artists being pushed out of their lawful position in the life and society
                of the present day. … Their present enforced isolation from the majority is a very serious situation and I believe it is 
                one of the many causes which has resulted in the present chaos we live in. The art of a nation is one of the ultimate facts
                by which its spiritual health is judged and appraised by posterity.”</p>
            </div>
        </div>
    </div>''



    <div class="row mt-5">
        <div class="col-12 offset-lg-1 col-lg-5 offset-md-1 col-md-4 ml-3 mt-5 exhibitions-details ">
            <div class="mt-0 logo-font text-black">
                <p class="exhibition-title">Who We Are</p>
            </div>
            <div class="mt-3 text-black exhibition-paragraph">
                    <p> The Jellett Gallery is a space dedicated to supporting young female artists.
                        We are a commercial gallery run operated as collective by the artists themselves. 
                        When an objective critique was applied to the art world clear systematic discrimintaion
                        was present. The experiences of Mainie Jellett deeply informed the creation of this collective, 
                        the individual discrimination she faced would be challenged by collective struggle.</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-7 my-auto ml-3 mr-3 mt-5 exhibitions-images-frame">
            <img src="/media/Jellett-The%20Bells%281940%29.jpg" class="img-fluid exhibitions-images">
            <p class="text-black exhibition-picture mt-0">Jellett, The Bells, oil on canvas, (1940)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-lg-1 col-lg-5 offset-md-1 col-md-4 ml-3 mt-3 exhibitions-details ">
            <div class="mt-3 text-black exhibition-paragraph">
                    <p> The gallery does not, however, supporting any particular ideology or
                        arts practice. It is a space which sought and found a place within Ireland’s 
                        vibrant art culture to represent female artists. We make no apologies, give no critiques,
                        write no thesis, the work will have to speak for itself. Member selection, exhibition curation and hanging,
                        invitations and openings are undertaken by the collective committee. </p>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-7 my-auto ml-3 mr-3 exhibitions-images-frame">
            <img src="/media/Jellett-Head%20of%20a%20Woman%20%281934%29.jpg" class="img-fluid exhibitions-images">
            <p class="text-black exhibition-picture mt-0">Jellett, Flower Forms, oil on canvas, (1930)</p>
        </div>
    </div>
</div>



{% endblock %}