{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!-- page name here (SEO) -->
{% block title %}About | Jellett Gallery{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="logo-font mt-3 mb-4">Artists</h3>
            <hr class="w-100 mt-0">
        </div>
        <div class="artistList col-12 col-md-6 ml-3 mt-3">
            <p><a href="{% url 'products' %}?category=leah_beggs"data-img="/media/A_slow_day.jpg">Leah Beggs</a></p>

            <p><a href="{% url 'products' %}?category=lola_donoghue"data-img="/media/ephemeral_3_RhwiiCz.jpg">Lola Donaghue</a></p>

           <p><a href="{% url 'products' %}?category=mollie_douthit"data-img="/media/Make_it.jpg">Mollie Douthit</a></p>

           <p> <a href="{% url 'products' %}?category=chloe_early"data-img="/media/Long_Haul_Lullaby2016.jpg">Chloe Early</a></p>

            <p><a href="{% url 'products' %}?category=mercedes_helnwein"data-img="/media/Little_monster_II.jpg">Mercedes Helnwein</a></p>

            <p><a href="{% url 'products' %}?category=eileen_osullivan"data-img="/media/Used_to_be_there.jpg">Eileen O'Sullivan</a></p>

            <p><a href="{% url 'products' %}?category=jane_rainey"data-img="/media/Toxicity.jpg">Jane Rainey</a></p>

            <p><a href="{% url 'products' %}?category=emma_sheridan"data-img="/media/MasKlub_3.jpeg">Emma Sheridan</a></p>

            <p><a href="{% url 'products' %}?category=chanelle_walsh" data-img="/media/Spirit_ilACShQ.jpeg">Chanelle Walsh</a></p>
        </div>
        <div class="artistImage fade-in col-12 col-md-4 mb-3 mt-3">
            <img src="/media/Spirit_ilACShQ.jpeg" alt="Artist's work" class="w-100">
        </div>
    </div>
</div>

    {% block postloadjs %}
        <script type="text/javascript">
        $(".artistList a").hover(function() {
        var s = $(this).data("img");
        $(".artistImage img").attr("src", s);
    });  
        </script>

        
    {% endblock %}

{% endblock %}