{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!-- page name here (SEO) -->
{% block title %}About | Jellett Gallery{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h3 class="logo-font mt-3 mb-3">Artists</h3>
        </div>
        <div class="artistList col-12 col-md-6 ml-3 mt-5">
            <p><a href="{% url 'products' %}?category=leah_beggs" data-img= "{% static 'images/A_slow_day.jpg' %}" class="artistList-link">Leah Beggs</a></p>

            <p><a href="{% url 'products' %}?category=lola_donoghue" data-img="{% static 'images/ephemeral_3_RhwiiCz.jpg' %}" class="artistList-link">Lola Donaghue</a></p>

           <p><a href="{% url 'products' %}?category=mollie_douthit" data-img="{% static 'images/Make_it.jpg' %}" class="artistList-link">Mollie Douthit</a></p>

           <p><a href="{% url 'products' %}?category=chloe_early" data-img="{% static 'images/Long_Haul_Lullaby2016.jpg' %}" class="artistList-link">Chloe Early</a></p>

            <p><a href="{% url 'products' %}?category=mercedes_helnwein" data-img="{% static 'images/Little_monster_II.jpg' %}" class="artistList-link">Mercedes Helnwein</a></p>

            <p><a href="{% url 'products' %}?category=eileen_o'sullivan" data-img="{% static 'images/Used_to_be_there.jpg' %}" class="artistList-link">Eileen O'Sullivan</a></p>

            <p><a href="{% url 'products' %}?category=jane_rainey" data-img="{% static 'images/Toxicity.jpg' %}" class="artistList-link">Jane Rainey</a></p>

            <p><a href="{% url 'products' %}?category=emma_sheridan" data-img="{% static 'images/Ajna.jpeg' %}" class="artistList-link">Emma Sheridan</a></p>

            <p><a href="{% url 'products' %}?category=chanelle_walshe" data-img="{% static 'images/Spirit_ilACShQ.jpeg' %}" class="artistList-link">Chanelle Walshe</a></p>
        </div>
        <div class="artistImage fade-in col-12 col-md-4 mb-3 mt-3">         
             
            <img src="{% static 'images/Little_monster_II.jpg' %}" alt="Artist's work" class="w-100">
        </div>
    </div>
</div>

    {% block postloadjs %}
        <script type="text/javascript">
        $(".artistList a").hover(function() {
        var s = $(this).data("img");
        $(".artistImage img").attr("src", s);
    });  
        </script>

        
    {% endblock %}

{% endblock %}