{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!-- page name here (SEO) -->
{% block title %}About | Jellett Gallery{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Artists</h1>
            <hr>
        </div>
        <div class="col-12 col-md-8">
            <a href="{% url 'products' %}?category=leah_beggs">Leah Beggs</a>

            <a href="{% url 'products' %}?category=lola_donoghue">Lola Donaghue</a>

            <a href="{% url 'products' %}?category=mollie_douthit">Mollie Douthit</a>

            <a href="{% url 'products' %}?category=chloe_early">Chloe Early</a>

            <a href="{% url 'products' %}?category=mercedes_helnwein">Mercedes Helnwein</a>

            <a href="{% url 'products' %}?category=eileen_osullivan">Eileen O'Sullivan</a>

            <a href="{% url 'products' %}?category=jane_rainey">Jane Rainey</a>

            <a href="{% url 'products' %}?category=emma_sheridan">Emma Sheridan</a>

            <a href="{% url 'products' %}?category=chanelle_walsh">Chanelle Walsh</a>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <img src="#" alt="Artist's work" class="w-100">
        </div>
    </div>
</div>

{% endblock %}