{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Carousel wrapper -->
<div id="home-page-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
    <div class="carousel-inner">
        <div class="carousel-item home-carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image"></div>
            <div class="carousel-caption d-none d-md-block mt-3 logo-font">
                <strong><h2>Beatriz Milhazes</h2></strong>
                <i><h3>Quatro temporadas em consideração</h3></i>
                <p><h5>12 November - 10 December 2020</h5></p>
            </div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image"></div>
            <div class="carousel-caption d-none d-md-block logo-font">
                <strong><h2>Georgia O'Keeffe</h2></strong>
                <i><h3>The Faraway Nearby - Nature's Forms</h3></i>
                <p><h5>17 February - 31 March 2021</h5></p>
            </div>
        </div>
    </div>
</div>
<!-- Carousel wrapper -->
{% endblock %}