{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Carousel wrapper -->
<div id="home-page-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
    <div class="carousel-inner">
        <div class="carousel-item home-carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image"></div>
            <div class="carousel-caption mt-3 logo-font">
                <h2><strong>Beatriz Milhazes</strong></h2>
                <h3>Quatro temporadas em consideração</h3>
                <h5>12 November - 10 December 2021</h5>
            </div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image"></div>
            <div class="carousel-caption logo-font">
                <h2><strong>Georgia O'Keeffe</strong></h2>
                <h3>The Faraway Nearby - Nature's Forms</h3>
                <h5>17 February - 31 March 2022</h5>
            </div>
        </div>
    </div>
</div>
<!-- Carousel wrapper -->
{% endblock %}