{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Account</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="text-muted mb-3">Account Details</p>
                <p>{{ user.get_username }}</p>
                {% for order in orders %}
                    {% if forloop.first %}
                        <p>{{ order.full_name}}</p>
                    {% endif %}        
                {% endfor %}
                <p>{{ user.email }}</p> 
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted mt-5">Successful Bids</p>
                                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Bid Number</th>
                                <th>Date</th>
                                <th></th>
                                <th>Bid Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    {% if user.is_authenticated %}
                                    <td>EUR{{ order.order_total }}</td>
                                    {% else %}
                                    <td>EUR{{ order.grand_total }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-5">
                <p class="text-muted">Billing Details</p>
                <form class="mt-0" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                    <button class="btn btn-primary text-uppercase float-right mb-5">Edit</button>
                </form>
            </div>               
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}