html {
    height: 120vh;
    scroll-behavior: smooth;
}

body {
    color: #111;
    margin: 0vw;
	padding: 0vw;
    font-family: 'Open Sans';
    overflow-x: hidden;
    background-color: #fafafa;
}

#topnav  {
    background-color: #fafafa;
}

#navbar-sm  {
    background-color: #fafafa;
}

.main-logo-link {
    color: #040404!important;
    font-family: 'Roboto';
}

.nav-link {
    color: #040404;
    padding: .5rem .35rem;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #33adff;
}

.fa-stack-2x:hover,
.fa-stack-2x:active,
.fa-stack-2x:focus {
    color: #33adff;
}

.fa-search:hover,
.fa-search-2x:active,
.fa-search:focus {
    color: #33adff;
}

.fa-user {
    font-size: 1.5em!important;
}

.fa-stack-2x {
   font-size: 1.5em!important;
   color: #040404; 
   top: 0vw;
}

.fa-stack-1x {
    font-size: 0.6em!important;
    top: 0.7vw;
}

.fa-search {
    color: #040404;
}

.form-control:focus {
  box-shadow: none!important;
  border-color: #D5D8DC;
  background-color: #fafafa;;
}


.exhibition-title {
    font-size: max(2.5vw, 2px);
    padding-bottom: .3vw;
    padding-top: max(2.5vw, 2px);
    color: #000;
}

.exhibition-detail {
    font-size: 1.9vw;
    padding-bottom: .5vw;
}

.exhibition-date {
    font-size: 1vw;
    padding-top: 1vw;
}

.exhibition-paragraph {
    font-size: 1.25vw;
    padding-bottom: .3vw;
}

.exhibition-picture {
    font-size: 0.75vw;
    padding-top: 0.375vw;
}

.exhibitions-details {
    color: #040404;
}

.socials {
    color: #040404!important
}

/* Styling for home page */
.home-carousel-item {
  height: 90vh;
}

.carousel-image {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#carousel-img-1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),  url("/media/Beatriz%20Milhazes%20-%20Beleza%20Pura%20%282006%29.jpg");
  background-position: center 50%;
}

#carousel-img-2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/media/Georgia%20O%27Keeffe%20-%20Lake%20George%20Reflection%20%281922%29.jpg");
  background-position: center 50%;
}

.carousel-caption {
   position: absolute;
   left: -20vw;
   bottom: 5vw;
   font-family: 'Lato'!important;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.dropdown-item {
    padding: .25rem .01rem .25rem .5rem!important;
}

.dropdown-menu {
    min-width: 7rem;
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #040404;
    color: #fafafa;;
    min-width: 260px;
}

.btn-black {
    background: #040404;
    color: #fafafa;;
}

.btn-outline-black {
    background: #fafafa;;
    color: #040404 !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #040404;
    color: #fafafa!important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #040404;
    color: #fafafa;
}

.text-black {
    color: #040404!important;
}

.border-black {
    border: 1px solid #040404 !important;
}

.bg-black {
    background: #040404 !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fafafa;;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.artists-picture {
    height: 60vw;
}

.artists-bio-text {
    height: 60vw;
    white-space: pre-wrap;
}

.artists-picture-image {
    width: 40vw;
}

.artistList {
    line-height: 110%;
}

.a_little_space {
    height: 10vh;
}


a:link {
  color: #040404;
}

a:visited {
  color: #040404;
}

a:hover {
  color: #33adff;
  text-decoration: none;
}

a:active {
  color: #040404;
}

.card{
    border: 0px;
}

.card-footer{
    border-top: 0px;
}

.card-img-top {
    top: 0; 
    bottom: 0;
    margin: auto;
    width: 100%;
} 

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.qty_input {
    visibility: hidden
}

/* ------------------------------- bootstrap toasts */

 .message-container {
    position: fixed ;
    top: 0vh;
    left: 32vw;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0px;
}

.close:after {
    color: transparent;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  /* .container {
    max-width: 80%; */
  }

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #010101;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #010101;
    border-color: #111;
}

.allauth-form-inner-content a {
	color: #17a2b8;
}



.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3546;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3544;
    border-radius: 0;
}

@media (max-width: 1600px) {

    .artists-picture {
    height: 25vw;
}

    .artists-bio-text {
    height: 30vw;
}

}

 @media (min-width: 1400px) {

.exhibition-title {
    font-size: max(2.2vw, 2px);
    padding-bottom: .3vw;
    padding-top: max(2vw, 2px);
}

.exhibition-detail {
    font-size: 1.5vw;
    padding-bottom: .5vw;
}

.exhibition-date {
    font-size: 1vw;
    padding-top: 1vw;
}

.exhibition-paragraph {
    font-size: 1vw;
    padding-bottom: .3vw;
}

    .artists-picture {
    height: 45vw;
}

    .artists-bio-text {
    height: 45vw;
}

 }

 @media (max-width: 1200px) {

    .artists-picture {
    height: 55vw;
}

    .artists-bio-text {
    height: 55vw;
}
    .fa-stack-1x {
    font-size: 0.60em!important;
    top: 0.75vw;
}

 }

 @media (max-width: 1010px) {

    .list-inline-item:not(:last-child) {
    margin-right: .0rem;
    }

    .carousel-caption {
    left: -3vw;
    }

    .artists-bio-text {
    font-size: .83rem;
    font-weight: 400;
    line-height: 1.1;
    }

    .fa-stack-1x {
    font-size: 0.60em!important;
    top: 0.85vw;
}

 }

  @media (max-width: 865px) {

    .fa-stack-1x {
    font-size: 0.60em!important;
    top: 0.9vw;
    }
} 


@media (min-width: 767px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 95px;
    }


}


@media (max-width: 767px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vw - 116px);
    }

    .carousel-caption {
        left: 15vw;
    }

    .bid-buttons {
        font-size: .75rem;
    }

    .bid-total{
        font-size: 95%;  
    }

    .exhibition-title {
        font-size: max(4.0vw, 2px);
        padding-bottom: .6vw;
}

.exhibition-detail {
        font-size: 3.3vw;
        padding-bottom: .5vw;
}

.exhibition-date {
        font-size: 2vw;
        padding-top: 1vw;
    }

.exhibition-paragraph {
        font-size: 2.2vw;
        padding-bottom: .3vw;
    }

} 

@media (max-width: 577px) {

    .exhibition-title {
        font-size: max(5.0vw, 2px);
        padding-bottom: .6vw;
    }

    .exhibition-detail {
        font-size: 4.0vw;
        padding-bottom: .5vw;
    }

    .exhibition-date {
        font-size: 2.7vw;
        padding-top: 1vw;
    }

    .exhibition-paragraph {
        font-size: 2.9vw;
        padding-bottom: .3vw;
    } 
 }

 @media (max-width: 450px) {


    .bid-name {
    font-size: 90%; 
    }

    .bid-column {
    font-size: 90%;
    }

    .bid-remove {
    font-size: 90%; 
    }

    .bid-offer {
    font-size: 90%;  
    }

    .bid-total{
    font-size: 90%;  
    }

    .bid-buttons {
    font-size: 75%;
    }

    .exhibition-title {
    font-size: max(5.5vw, 2px);
    padding-bottom: .6vw;
    }

    .exhibition-detail {
    font-size: 4.5vw;
    padding-bottom: .5vw;
    }

    .exhibition-date {
    font-size: 3.2vw;
    padding-top: 1vw;
    }

    .exhibition-paragraph {
    font-size: 3.4vw;
    padding-bottom: .3vw;
    } 

    .carousel-caption {
    bottom: 10vw;
    }
}

@media (max-width: 400px) {
     
     h2 {
    font-size: 25px;
    }
    
     h3 {
    font-size: 20px;
    }

    h5 {
    font-size: 15px;
    }

    .nav-link {
    padding : .5rem .07rem
    }

    .artists-bio-text {
    color: #444;
    font-size: .60rem;
    font-weight: 400;
    line-height: 0.75;
    }

    .bid-picture {
    width: 150%!important;
    }

    .bid-logo {
    font-size: 85%;
    }

    .bid-column {
    font-size: 85%;
    }

    .bid-name {
    font-size: 80%; 
    }

    .bid-remove {
    font-size: 80%; 
    }

    .bid-offer {
    font-size: 80%;  
    }

    .bid-total{
    font-size: 80%;  
    }

    .carousel-caption {
    bottom: 12vw;
    }

}


@media (max-width: 350px) {

    .bid-name {
    font-size: 70%; 
    }

    .bid-column {
    font-size: 75%;
    }

    .bid-remove {
    font-size: 70%; 
    }

    .bid-offer {
    font-size: 70%;  
    }

    .bid-total{
    font-size: 80%;  
    }

    .carousel-caption {
    bottom: 15vw;
    }

    .dropdown-menu {
    min-width: 6.5rem;  
    }
}