<footer id="footer" class="container-fluid small-box-shadow">
    <div class="row">
        <div class="col-12">
            <div class="container mx-auto text-black">
                <div class="row">
                    <div class="col-12 text-md-left">
                        <small>Copyright 2020 Jellett Gallery  Site by Isntlee</small>
                    </div>
                    <div class="col-12 text-md-right">
                        <a href="#" target="_blank"
                            aria-label="Social Medias" rel="noopener">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>