<header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-3 pb-lg-3 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-0 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h3 class="logo-font my-0 ml-5 text-black"><strong>Jellett</strong> Gallery</h3>
                </a>
            </div>
            <div class="col-12 col-lg-8 my-auto py-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item">
                        <a class="logo-font font-weight-bold nav-link text-black mr-0" href="{% url 'artists' %}" id="clothing-link" aria-haspopup="true" aria-expanded="false">
                            Artists
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="logo-font font-weight-bold nav-link text-black mr-0" href="{% url 'exhibitions' %}" id="homeware-link" aria-haspopup="true" aria-expanded="false">
                            Exhibitions
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="logo-font font-weight-bold nav-link text-black mr-0" href="{% url 'about' %}" id="#" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <!-- <p class="my-0">Login/Register</p> -->
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                     <a href="{% url 'add_product' %}" class="dropdown-item">Collection Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">

                                <div class="stack-icons">
                                    <strong class="stack-overlay">
                                        {% if product_count %}
                                            {{ product_count }}
                                        {% endif %}
                                    </strong>
                                    <img src="/media/shopping-bag.png" class="stack-base">  
                                </div>

                                <!-- <span class="fa-stack"> 
                                    <span class="fa fa-shopping-bag fa-stack-2x"></span>
                                    <strong class="fa-stack-1x text-white">
                                        {% if product_count %}
                                            {{ product_count }}
                                        {% endif %}
                                    </strong>  
                                </span>  -->

                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group">
                                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <hr class="w-100 mt-0">
        </div>
</header>